body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  background-color: #fff;
  /* font-family: 'PT Sans', sans-serif; */
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  background-color: #f4f7f9;
  padding-bottom: 40px;
}

.footer {
  margin-top: 86px;
  background-color: #32425c;
}

.topMenu {
  background-color: #293449;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  height: 42px;
  /* vertical-align: baseline; */
}

.topMenu-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.topMenu:hover {
  background-color: #293449;
}

.topLogo {
  padding: 13px 56px 15px 55px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.topLogo:hover {
  background-color: #ca2c37;
}

.topLogo:active {
  background-color: #ba2732;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.search::before {
  content: "";
  background-image: url("../img/icon-search.svg");
  width: 17px;
  height: 17px;
  margin: 12px 0px 12px 17px;
}

.search:hover {
  background-color: #212a3a;
}

.search input {
  height: 38px;
  width: 300px;
  background-color: transparent;
  border: none;
}

.search input:focus {
  background-color: #ffffff;
}

.search input:focus ~ .checkout {
  background-color: #ee3643;
}

.bookmarks {
  display: flex;
  align-items: center;
}

.bookmarks::before {
  content: "";
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  margin: 12px 17px 12px 17px;
}

.bookmarks:hover {
  background-color: #212a3a;
}

.bookmarks:active {
  background-color: #161d29;
}

.cart {
  display: flex;
  align-items: center;
}

.cart::before {
  content: "";
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  margin: 12px 17px 12px 17px;
}

.cart:hover {
  background-color: #212a3a;
}

.cart:active {
  background-color: #161d29;
}

.checkout {
  background-color: #63a63e;
  padding: 14px 22px 10px 20px;
  display: inline-block;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.dialogMap {
  display: none;
}

.dialogFeedback {
  display: none;
}

.headerStripe {
  display: flex;
  padding: 46px 0 44px 60px;
  box-sizing: border-box;
}

.descriptor {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin-right: 71px;
}

.contactsTop {
  margin-right: 69px;
  text-align: center;
  /* width: 270px; */
}

.phoneTop {
  font-size: 21px;
  color: #ee3643;
  border: solid 2px #fff;
  padding: 13px 52px 11px 74px;
  display: inline-block;
}

.addrTop {
  margin-top: 10px;
  font-size: 14px;
}

.button-group {
  margin-top: 16px;
}

.signIn {
  font-size: 21px;
  color: #000;
  border: none;
  background-color: #fff;
  padding: 14px 25px 11px;
  margin-right: 10px;
}

.signIn:hover {
  color: #ee3643;
}

.signIn:active {
  color: rgba(0, 0, 0, 0.3);
}

.signUp {
  font-size: 21px;
  color: #000;
  border: none;
  background-color: #fff;
  padding: 14px 25px 11px;
}

.signUp:hover {
  color: #ee3643;
}

.signUp:active {
  color: rgba(0, 0, 0, 0.3);
}

.navTop {
  background-color: #32425c;
  font-size: 17px;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.navTop ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navTop li {
  padding: 22px 31px 26px 31px;
}

.navTop li:hover {
  background-color: #1d2739;
}

.navTop a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.aboutSection {
  font-size: 13px;
  width: 520px;
  margin-right: 120px;
}

.aboutSection p {
  line-height: 24px;
}

.aboutSection h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.aboutSection ul {
  list-style: none;
}

.aboutSection li {
  font-size: 18px;
  padding-top: 24px;
}

.contactsSection {
  font-size: 13px;
  line-height: 24px;
}

.contactsSection h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.aboutDetail {
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 40px 12px 41px;
  display: inline-block;
  margin-top: 24px;
}

.bottomMap {
  border: none;
}

.btnFeedback {
  background-color: #ee3643;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 40px 12px 41px;
  display: inline-block;
  margin-top: 24px;
  border: none;
  width: 300px;
  cursor: pointer;
}

.bottomLogo {
  background-color: #ee3643;
  padding: 20px 41px 25px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  float: left;
}

.contactsBottom {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
}

.footer li {
  font-size: 18px;
  display: inline-block;
}

.footer ul {
  list-style: none;
}

.footer-row-1 {
  display: flex;
  margin-bottom: 20px;
}

.menuBottom1 {
  display: flex;
  margin-left: auto;
}

.menuBottom1 li {
  margin-right: 50px;
}

.menuBottom1 a:hover {
  text-decoration: underline;
}

.menuBottom1 a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-row-2 {
  display: flex;
  margin-bottom: 20px;
}

.menuBottom2 {
  display: flex;
  margin-left: auto;
}

.menuBottom2 li {
  margin-right: 50px;
}

.menuBottom2 a {
  color: #ffd180;
}

.menuBottom2 a:hover {
  text-decoration: underline;
}

.menuBottom2 a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footerBottom {
  background-color: #293449;
  font-size: 16px;
  min-height: 107px;
  /* padding-top: 1px; */
}

.footerBottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.contactSocial {
  padding: 0;
  margin: 0;
}

.contactSocial li {
  background-color: #212a3a;
}

.contactSocial li {
  padding: 10px;
  border-radius: 50%;
}

.contactSocial li:hover {
  background-color: #ee3643;
}

.contactSocial li:active {
  background-color: #ee3643;
}

.contactsFeedback {
  color: #fff;
}

.contactsFeedback span {
  color: #ffd180;
}

.contactsFeedback span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contactsFeedback span:active {
  color: #ee3643;
}

.designed {
  display: inline-block;
  color: #fff;
}

.designed a {
  color: #ffd180;
}

.designed a:hover {
  text-decoration: underline;
}

.designed a:active {
  color: #ee3643;
}

.logout {
  font-size: 21px;
  color: #000;
  border: none;
  background-color: #fff;
  padding: 14px 25px 11px;
}

.logout:hover {
  cursor: pointer;
}

.logout:active {
  color: rgba(0, 0, 0, 0.3);
}

.afterloginMenu {
  margin: 16px 69px 16px 0;
  text-align: center;
}

.afterloginMenu a {
  color: #32425c;
  text-decoration: underline;
}

.afterloginMenu a:hover {
  color: #ee3643;
}

.afterloginMenu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs ul {
  padding: 0;
}

.breadcrumbs li::after {
  content: "";
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  width: 17px;
  height: 17px;
  display: inline-block;
}

.breadcrumbs a {
  color: #000;
}

.productTypeHeader {
  font-size: 30px;
  text-decoration: uppercase;
  padding: 32px 30px 34px;
  background-color: #f2f6f8;
  color: #32425c;
}

.main-content {
  display: flex;
}

.dialogNextActions {
  display: none;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.productItem {
  border: solid 1px #e5e5e5;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 218px;
  min-height: 350px;
}

.productItem:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.productItem-caption {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.productItem-discount {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  text-decoration: line-through;
  color: #999;
  min-height: 20px;
}

.productItem-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  /* background-color: #ee3643; */
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 50%;
  padding: 13px 40px;
  display: inline-block;
}

.productItem-buy {
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 45px;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
  border-radius: 3px;
  display: inline-block;
  margin-top: 44px;
}

.productItem-buy:hover {
  background-color: #5fbb2d;
}

.productItem-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.productItem-toBookmark {
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 32px 12px 36px;
  background-color: #fff;
  border-radius: 3px;
  border: solid 3px #63a63e;
  display: inline-block;
  margin-top: 44px;
  color: #32425c;
}

.productItem-toBookmark:hover {
  border: solid 3px #32425c;
}

.productItem-toBookmark:active {
  border: solid 3px rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.filtr {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.filtr h2 {
  font-size: 17px;
}

.filtr-submit {
  font-size: 13xp;
  text-transform: uppercase;
  padding: 15px 39px;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  margin-top: 75px;
}
